@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #475569;
  --primary-hover: #334155;
  --primary-light: #94a3b8;
  --secondary: #64748b;
  --background: #f8fafc;
  --foreground: #0f172a;
  --font-family: system-ui;
  --button-style: rounded;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-family);
}
